{% extends 'base.html' %}
{% block content %}
    
        <br>


        <table class="table table-striped table-bordered">
            <thead>
              <tr class="table-info">
                <th scope="col">Lot ID</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Doses consumed</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for lot in vaccine_lots %}
              <tr>
                <th scope="row">{{ lot.lot.lotId }}</th>
                <td>{{lot.arrivalTimestamp}}</td>
                <td>{{lot.countOfDosesConsumed}}</td>
                <td><a href="/center/{{name}}/updateArrivalTimeCenter/{{ lot.lot.lotId }}"><button type="button" class="btn btn-primary">Update Arrival</button></a>  
              </tr>
            {% endfor %}
            </tbody>
          </table>

{% endblock content %}
