{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
.screen-1{
	padding: 50px  20px;
	background-color: #fff;
}

.main-screen{
    padding: 0 100px;
	margin-bottom: 50px;
}

.main-text{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
}


.sub-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
	text-align: justify;
}
.main-text{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
}


.sub-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
	text-align: justify;
}

.hire-mech{
	width: 200px;
	border: none;
	padding: 12px 8px;
	margin: 20px 0;
	border-radius:8px;
	background-color:  #e75d57;
	color: #fff;
	font-size: 1.2rem;
}


.main-text{
	font-size: 1.9rem;
	font-weight: 700;
	line-height: normal;
	margin: 20px 0px;
}

.screen-1{
	padding: 40px  20px;
	background-color: #fff;
}


.sub-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
	text-align: justify;
}

.hire-mech{
	width: 250px;
	border: none;
	padding: 10px 5px;
	margin: 20px 0;
	border-radius:8px;
	color: #fff;
	font-size: 1.2rem;
}

.hire-mech:hover{
    cursor: pointer;
}
</style>
<div class="container-fluid screen-1">
	<center><div style="font-size: 30px;font-family:'Courier New', Courier, monospace;">Total Doses Administered : {{total_doses_consumed}}</div></center>
    <div class="row m-0">
      <div class="col-lg-6 col-md-6 p-0 align-self-center" data-aos="fade-right">
        <div class="row m-0 justify-content-center">
          <div class="main-screen">
			<div class="main-text">Vaccination</div>
        <div class="sub-text">Raahi is location based road trip companion, which allows users to find different services like Accomodation, Refreshments, Hospital and Garages near by in radius of 15 km. Raahi is a project developed by two budding IT Engineers. We aim to solve the problem of long time road travellers who find it difficult to find nearby washroom usable facilities, refreshment and accomodation facilities. This app also helps local businesses and joints to revolutionize their business by registering to our app.</div>
        <div class="link-button">
            <a href="{% url 'registerForVaccinationDistrictForm' %}"><button type="button" class="btn btn-outline-dark">Register For Vaccination</button></a>
          </div>
         </div>
        </div>
      </div>
       <div class="col-lg-6 col-md-6 p-0 image-screen" data-aos="fade-left">
         <img src="{% static 'vaccine-illustration.jpg' %}" class="img-responsive fit-image" >
       </div>
    </div>
</div>
  
{% endblock content %}