{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
.screen-1{
	padding: 50px  20px;
	background-color: #fff;
}

.main-screen{
    padding: 0 100px;
	margin-bottom: 50px;
}

.main-text{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
}


.sub-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
	text-align: justify;
}
.main-text{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
}


.sub-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
	text-align: justify;
}

.hire-mech{
	width: 200px;
	border: none;
	padding: 12px 8px;
	margin: 20px 0;
	border-radius:8px;
	background-color:  #e75d57;
	color: #fff;
	font-size: 1.2rem;
}


.main-text{
	font-size: 1.9rem;
	font-weight: 700;
	line-height: normal;
	margin: 20px 0px;
}

.screen-1{
	padding: 40px  20px;
	background-color: #fff;
}


.sub-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
	text-align: justify;
}

.hire-mech{
	width: 250px;
	border: none;
	padding: 10px 5px;
	margin: 20px 0;
	border-radius:8px;
	color: #fff;
	font-size: 1.2rem;
}

.hire-mech:hover{
    cursor: pointer;
}

.faq-search-wrap {
    padding: 50px 0 60px;
}

.faq-search-wrap .form-group .form-control,
.faq-search-wrap .form-group .dd-handle {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.faq-search-wrap .form-group .input-group-append {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
}

.faq-search-wrap .form-group .input-group-append .input-group-text {
    background: transparent;
    border: none;
}

.faq-search-wrap .form-group .input-group-append .input-group-text .feather-icon > svg {
    height: 18px;
    width: 18px;
}
.bg-teal-light-3 {
    background-color: #7fcdc1 !important;
}

.hk-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

@media (min-width: 576px){
    .mt-sm-60 {
        margin-top: 60px !important;
    }
}
.mt-30 {
    margin-top: 30px !important;
}

.list-group-item.active {
    background-color: #00acf0;
    border-color: #00acf0;
}
.accordion .card .card-header.activestate {
    border-width: 1px;
}
.accordion .card .card-header {
    padding: 0;
    border-width: 0;
}
.card.card-lg .card-header, .card.card-lg .card-footer {
    padding: .9rem 1.5rem;
}
.accordion>.card .card-header {
    margin-bottom: -1px;
}
.card .card-header {
    background: transparent;
    border: none;
}
.accordion.accordion-type-2 .card .card-header > a.collapsed {
    color: #324148;
}
.accordion .card:first-of-type .card-header:first-child > a {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.accordion.accordion-type-2 .card .card-header > a {
    background: transparent;
    color: #00acf0;
    padding-left: 50px;
}
.accordion .card .card-header > a.collapsed {
    color: #324148;
    background: transparent;
}
.accordion .card .card-header > a {
    background: #00acf0;
    color: #fff;
    font-weight: 500;
    padding: .75rem 1.25rem;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a {
    text-decoration: none;
    color: #00acf0;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}


.badge.badge-pill {
    border-radius: 50px;
}
.badge.badge-light {
    background: #eaecec;
    color: #324148;
}
.badge {
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 7px;
    font-size: 72%;
    letter-spacing: 0.3px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
}
.ml-15 {
    margin-left: 15px !important;
}

.accordion.accordion-type-2 .card .card-header > a.collapsed:after {
    content: "\f158";
}

.accordion.accordion-type-2 .card .card-header > a::after {
    display: inline-block;
    font: normal normal normal 14px/1 'Ionicons';
    speak: none;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    position: absolute;
    content: "\f176";
    font-size: 21px;
    top: 15px;
    left: 20px;
}

.mr-15 {
    margin-right: 15px !important;
}
</style>

<div class="container-fluid screen-1">
	<center><div style="font-size: 30px;font-family:'Courier New', Courier, monospace;">Total Doses Administered : {{total_doses_consumed}}</div></center>
    <div class="row m-0">
      <div class="col-lg-6 col-md-6 p-0 align-self-center" data-aos="fade-right">
        <div class="row m-0 justify-content-center">
          <div class="main-screen">
			<div class="main-text">Vaccination</div>
        <div class="sub-text">Raahi is location based road trip companion, which allows users to find different services like Accomodation, Refreshments, Hospital and Garages near by in radius of 15 km. Raahi is a project developed by two budding IT Engineers. We aim to solve the problem of long time road travellers who find it difficult to find nearby washroom usable facilities, refreshment and accomodation facilities. This app also helps local businesses and joints to revolutionize their business by registering to our app.</div>
        <div class="link-button">
            <a href="{% url 'registerForVaccinationDistrictForm' %}"><button type="button" class="btn btn-outline-dark">Register For Vaccination</button></a>
          </div>
         </div>
        </div>
      </div>
       <div class="col-lg-6 col-md-6 p-0 image-screen" data-aos="fade-left">
         <img src="{% static 'vaccine-illustration.jpg' %}" class="img-responsive fit-image" >
       </div>
    </div>
</div>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css" integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />

<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12 pa-0">
           
            <div class="container mt-sm-60 mt-30">
                <div class="hk-row">

                    <div class="col-xl-12">
                        <div class="card card-lg">
                            <center><h3 class="card-header border-bottom-0">
                                            Frequently Asked Questions
                                        </h3></center>
                            <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between activestate">
                                        <a role="button" data-toggle="collapse" href="#collapse_1i" aria-expanded="true">How do I get a Vaccine</a>
                                    </div>
                                    <div id="collapse_1i" class="collapse show" data-parent="#accordion_2" role="tabpanel">
                                        <div class="card-body pa-15">Visit our website <a href="{% url 'index' %}">vaccineds.in</a>. Register for Vaccination by selecting District and your nearby Center</div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">Termination clause</a>
                                    </div>
                                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                        <div class="card-body pa-15">A Termination clause will inform that users’ accounts on your website and mobile app or users’ access to your website and mobile (if users can’t have an account with you) can be terminated in case of abuses or at your sole discretion.</div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_3i" aria-expanded="false">Governing Law</a>
                                    </div>
                                    <div id="collapse_3i" class="collapse" data-parent="#accordion_2">
                                        <div class="card-body pa-15">A Governing Law will inform users which laws govern the agreement. This should the country in which your company is headquartered or the country from which you operate your website and mobile app.</div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_4i" aria-expanded="false">Limit what users can do</a>
                                    </div>
                                    <div id="collapse_4i" class="collapse" data-parent="#accordion_2">
                                        <div class="card-body pa-15">A Limit What Users Can Do clause can inform users that by agreeing to use your service, they’re also agreeing to not do certain things. This can be part of a very long and thorough list in your Terms and Conditions agreements so as to encompass the most amount of negative uses.</div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_5i" aria-expanded="false">Limitation of liability of your products</a>
                                    </div>
                                    <div id="collapse_5i" class="collapse" data-parent="#accordion_2">
                                        <div class="card-body pa-15">No matter what kind of goods you sell, best practices direct you to present any warranties you are disclaiming and liabilities you are limiting in a way that your customers will notice.</div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_6i" aria-expanded="false">How to enforce Terms and Conditions</a>
                                    </div>
                                    <div id="collapse_6i" class="collapse" data-parent="#accordion_2">
                                        <div class="card-body pa-15">While creating and having a Terms and Conditions is important, it’s far more important to understand how you can make the Terms and Conditions enforceable. You should always use clickwrap to get users to agree to your Terms and Conditions. Clickwrap is when you make your users take some action – typically clicking something – to show they’re agreeing. Here’s how Engine Yard uses the clickwrap agreement with the I agree check box:</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>
<br>
<br>
{% endblock content %}